<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Car Dealership</title>
      <link rel="stylesheet" 
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" 
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" 
      crossorigin="anonymous">
  </head>
  <body>
  <div class="p-3 mb-2 bg-info text-white">
    <h1>Car Dealership</h1>
    <a href="/cars/new">Add a new Car</a>
    <a href="/cars">See a list of cars</a>
  </div>
  </body>
</html>